<!DOCTYPE html>
<html>
<body>
  <h1>Make Your Post</h1>
  <form action="/makePost" method="post">
    Enter Post Title Here: <input type="text" name="postTitle">
    <br>
    Enter Post Content Here: <input type="text" name="postContent">
    <br>
    <input type="submit" value="Create Post">
  </form>
  <br>
  <%if (error != null) { %>
    <font color="red"><%= error %><p>
  <% } %>
</body>
</html>