<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
body {
padding-top: 40px;
padding-bottom: 40px;
background-color: white;
}
.login-box {
max-width: 330px;
margin: 0 auto;
}
.login-box .form-control {
margin-bottom: 10px;
}
</style>
</head>
<body>
  <h1>Login Page</h1>
  <form action="/checklogin" method="post">
    Enter Username Here: <input type="text" name="username" class="form-control">
    <br>
    Enter Password Here: <input type="text" name="password" class="form-control">
    <br>
    <input type="submit" value="Log In" class="btn btn-lg btn-primary btn-block">
  </form>
  <br>
  <%if (error != null) { %>
    <font color="red"><%= error %><p>
  <% } %>
  <br>
  <a href="/signup">Sign Up</a>
  <br>
</body>
</html>