<!DOCTYPE html>
<html>
<body>
  <h1>Signup Page</h1>
  <form action="/createaccount" method="post">
    Enter Username Here: <input type="text" name="username">
    <br>
    Enter Password Here: <input type="text" name="password">
    <br>
    Enter First Name Here: <input type="text" name="firstname">
    <br>
    Enter Last Name Here: <input type="text" name="lastname">
    <br>
    Enter Email Here: <input type="text" name="email">
    <br>
    Enter Birthday Here: <input type="text" name="birthday">
    <br>
    <input type="submit" value="Sign Up">
  </form>
  <br>
  <%if (error != null) { %>
    <font color="red"><%= error %><p>
  <% } %>
</body>
</html>