<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
		
		$.get('/curuser', function(data) {
		    curuser = data
		})
		$.getJSON('/getdata', function(data) {
			for (const row of data) {
				let map = new Map(Object.entries(row))
				let name = (new Map(Object.entries(map.get('name')))).get('S')
				let description = (new Map(Object.entries(map.get('description')))).get('S')
				let creator = (new Map(Object.entries(map.get('creator')))).get('S')
				let latitude = (new Map(Object.entries(map.get('latitude')))).get('S')
				let longitude = (new Map(Object.entries(map.get('longitude')))).get('S')
				putMarker(latitude, longitude, name, description, creator, curuser)
			}
		})
		
		var refreshTime = function() {
		    $("#clock").html("Last updated at: " + (new Date()).toString());
		    setTimeout(refreshTime, 10000);
		    console.log("refreshing")
		    for (let marker of markers) {
		    	marker.setMap(null)
		    }
		    $.getJSON('/getdata', function(data) {
				for (const row of data) {
					let map = new Map(Object.entries(row))
					let name = (new Map(Object.entries(map.get('name')))).get('S')
					let description = (new Map(Object.entries(map.get('description')))).get('S')
					let creator = (new Map(Object.entries(map.get('creator')))).get('S')
					let latitude = (new Map(Object.entries(map.get('latitude')))).get('S')
					let longitude = (new Map(Object.entries(map.get('longitude')))).get('S')
					putMarker(latitude, longitude, name, description, creator, curuser)
				}
			})
		};
		
		setTimeout(refreshTime, 10000);
	});
</script>
</head>
<body>
  <h1>Restaurants Page</h1>
  <div id="map" style="width:500px;height:500px"></div>
  <div id="pos"></div>
  <br>
  <br>
  <form id="submitEntry">
    Enter Latitude Here: <input type="text" name="latitude" id="latitude">
    <br>
    Enter Longitude Here: <input type="text" name="longitude", id="longitude">
    <br>
    Enter Name of Restaurant Here: <input type="text" name="name", id="name">
    <br>
    Enter Description Here: <input type="text" name="description", id="description">
    <br>
    <input type="submit" value="Add Restaurant">
  </form>
  <br>
  <br>
  <form action="/logout" method="post">
    <input type="submit" value="Log Out">
  </form>
  <div id="clock"></div></body>
</body>
</html>
