.card-overview {
	max-width: 600px;
	width: 600px;
	--padding: 15px;
	box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

.card-overview::part(body) {
	padding:0px;
	margin:0px;
}

.card-overview::part(footer) {
	padding-top:0px;
	margin-top:0px;
}

.card-image{
	width:100%;
	padding:0;
	margin:0;
	transform:translateY(5px);
}

.card-overview [slot='footer'] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comment-overview{
	--padding: 10px;
	width: 100%;
	width: 600;
	--border-radius: 20px;
	--border-color: none;
}

.comment-overview::part(base){
	background: #f0f2f5;
}

sl-textarea.comment-overview::part(base){
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    outline:none;
}

sl-button.comment-overview::part(base){
	border: none;
    outline:none;
}

sl-button.comment-overview::part(label){
	display:inline-block;
    text-align:left;
    width:100%;
}

.likecomm::part(label) {
	color: var(--sl-color-neutral-700);
}

.likecomm::part(prefix) {
	color: var(--sl-color-neutral-700);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 99999px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 420; /* Specify a stack order in case you're using a different order for other elements */
  text-align:center;
}

#post-content-area::part(base){
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    outline:none;
    padding-top:0;
}
